:host{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.from-wrapper {
  max-width: 500px;
  width: 100%;
  padding: 30px;
  border: 1px solid #434f4460;
  border-radius: 15px;

  form {
    width: 100%;

    .input {
      width: 100%;
    }

    button {
      width: 100%;
    }
  }

  a {
    display: flex;
    text-decoration: none;
    margin-top: 20px;
  }
}
