<div class="from-wrapper">
  <h1>SignIn</h1>
  <form [formGroup]="signUpForm" (submit)="submit()">
    <mat-form-field class="input" appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="signUpForm.get('email')?.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="signUpForm.get('email')?.hasError('email') && !signUpForm.get('email')?.hasError('required')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input" appearance="outline">
      <mat-label>NickName</mat-label>
      <input type="text" matInput formControlName="nickName" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="signUpForm.get('nickName')?.hasError('required')">
        NickName is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input" appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" placeholder="Password">
      <mat-error *ngIf="signUpForm.get('password')?.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input" appearance="outline">
      <mat-label>Password Confirmation</mat-label>
      <input type="password" matInput formControlName="confirmationPassword" placeholder="Password">
      <mat-error *ngIf="signUpForm.get('confirmationPassword')?.hasError('required')">
        Confirmation is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="signUpForm.get('confirmationPassword')?.hasError('passwordsMismatch') && !signUpForm.get('confirmationPassword')?.hasError('required')">
        Password and Confirmation are the difference
      </mat-error>
    </mat-form-field>

    <button type="submit" mat-flat-button color="primary">SignUp</button>
  </form>


  <a routerLink="../sign-in">SignIn</a>
</div>
