<div class="wrapper">
  <div class="header">
    <h1>Chat with user <b>{{(addressee | async)?.nickName}}</b></h1>
    <button mat-button routerLink="/chat/active-users">	&lt;Back</button>
  </div>
  <div class="messages-list">
    <ng-container *ngFor="let message of messages | async">
      <div class="message-block" [ngClass]="{'my-msessage' : message.isMy}">
        <mat-icon>account_circle</mat-icon>
        <div class="message-body">
          <div class="user">
            {{message.user}}
          </div>
          <div class="message">
            {{message.message}}
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <form (submit)="sendMessage()">
    <mat-form-field class="input" appearance="outline">
      <mat-label>Message</mat-label>
      <input type="email" matInput [formControl]="messageConrtol" placeholder="Message">
      <button type="button" matSuffix mat-icon-button color="primary" aria-label="Send Message" (click)="sendMessage()">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>

  </form>
</div>
