:host {
  display: flex;
  justify-content: center;
}

.wrapper {
  padding: 30px;
  border: 1px solid #434f4460;
  border-radius: 15px;
  max-width: 500px;
  width: 100%;
  margin-top: 20px;

  .header {
    display: flex;
    justify-content: space-between;
  }

  .messages-list {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    height: 100vh;
    overflow-y: auto;
    border: 1px solid #434f4460;
    border-radius: 15px;
    padding: 0 15px;

    .message-block {
      display: flex;
      border-radius: 5px;
      margin: 10px 0;
      background: #f1f1f1;
      padding: 14px;

      .user {
        color: rgb(173 161 161);
        margin: 0 5px;
      }

      .message {
        margin-top: 5px;
        font-size: 16px;
      }

      &.my-msessage {
        flex-direction: row-reverse;
        background: #f1f7f2;

        .user {
          text-align: right;
        }
      }
    }
  }

  .input {
    width: 100%;
  }
}
