:host {
  display: flex;
  justify-content: center;
}

.list {
  padding: 30px;
  border: 1px solid #434f4460;
  border-radius: 15px;
  max-width: 500px;
  width: 100%;
  margin-top: 20px;
  max-width: 500px;

  .list-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ebebeb;
    border-radius: 10px;
    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      p {
        margin: 0 10px;
      }
    }
  }
}
