<div class="list">
  <ng-container *ngFor="let user of users | async">
    <div class="list-item">
      <mat-icon>account_circle</mat-icon>
      <div class="wrapper">
        <p><b>{{user.nickName}}</b></p>
        <button mat-stroked-button (click)="sendInvite(user.id)">Request chat</button>
      </div>
    </div>
  </ng-container>
</div>
