<h1>Chat request</h1>

<p>User <b>{{data}}</b> request chat with you.</p>

<div class="actions">
  <button mat-flat-button color="accent" (click)="response(false)">Decline</button>
  <button mat-flat-button color="primary" (click)="response(true)">Accept</button>
</div>
