<div class="from-wrapper">
  <h1>SignIn</h1>
  <form [formGroup]="signInForm" (submit)="submit()">
    <mat-form-field class="input" appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="signInForm.get('email')?.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="signInForm.get('email')?.hasError('email') && !signInForm.get('email')?.hasError('required')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input" appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" placeholder="Password">
      <mat-error *ngIf="signInForm.get('password')?.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <button type="submit" mat-flat-button color="primary">SignIn</button>
  </form>

  <a routerLink="../sign-up">SignUp</a>
</div>
